body {
    background-color: black;
}

img {
    max-width: width 300px;
}
h1 {
    /* mutliple values can be added providing they are seperated by a semi colon */ 
    /* font-family can be used directly */
    /* @font-face can be used to import fonts you may have that sit outside of what is readily available */
    color: #fc03df;
    font-size: large;
    background-color: black;
}
ol {
    color: blue;
    background-image: url("https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }

p {
    color: blueviolet;
    font-weight: bold;
}